{
  "tabWidth": 2,
  "printWidth": 120,
  "proseWrap": "always",
  "trailingComma": "es5",
  "arrowParens": "always",
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "endOfLine": "auto"
}
